.nv-file-over{
    border: dotted 3px red;
}

input[type=file]{
    color: transparent;
}

.not-approved {
    opacity: 0.2;
}

.img-wrapper {
    position: relative
}

.img-text {
    position: relative;
    text-align: center;
    display: block; /* Ensures it takes full width */
    width: 100%;
    margin-top: 5px; /* Adjust as needed */
}

